<div class="footer">
    

<div class="contact-modal">
<ng-template #content let-modal>

    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        <p><app-contact></app-contact></p>
  
  
  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
  
  </ng-template>
  
  <!--mat-button is here temporary - I will probably style button better later-->
  <button mat-button class="model-button" (click)="openVerticallyCentered(content)">Contact</button>
</div>  

<div class="credits">
<p>  © 2021 |<span> Designed & Built by </span> <a href="mailto:akeemlake@outlook.com" rel="noopener noreferrer" target="_blank">Akeem Lake</a></p>
<p><fa-icon [icon]="faGithubAlt"></fa-icon></p> <!--Property bind to font awesome icon-->
<p><fa-icon [icon]="faCodeBranch"></fa-icon></p> <!--Property bind to font awesome icon-->
<p><fa-icon [icon]="faGitAlt"></fa-icon></p> <!--Property bind to font awesome icon-->

</div>

</div>