
<div class="about-container" fxLayout="row inline" fxLayout.xs="row wrap" fxLayoutGap="15px grid" fxLayoutAlign="center">

    


    <div class="description" fxFlex="50" fxFlex.xs="100" fxLayoutAlign="start">
        <mat-card class="mat-elevation-z0">
            <mat-card-title>About Me</mat-card-title>
            <mat-card-content>
              
                 <div id="profilepicture"><img [src]="twoimage" alt="profilepicture"></div> <!--Profile image-->

                <p>I'm a developer based in Miami, Florida and a graduate of the Florida International University class of December 2020. While at FIU, I was 
                    exposed to various courses on my way to attaining my Bachelor's of Science in Computer Science. These courses include: <span class="courses">Data Structures, Programming Languages, Database Systems/Administration, 
                    Software Engineering(Agile, Project Management, Team-focus), as well as other courses involving Intepersonal skills.</span>
                    In addition, I have 7 years experience in a professional setting. 
                   </p> 

                   <h3><fa-icon class="title-icon" [icon]="faCaretRight"></fa-icon>Developer</h3>
                   <p>
                    Most recently I've been apart of a team, with the <span class="company-name">Pinecrest PD</span>, that developed applications to improve
                    community outreach on criminal activity. While being on the team, my role involved
                    developing on the frontend using technologies such as: <span class="description-highlight">Angular(Typescript), HTML5, CSS3, Material UI & 
                    Bootstrap. Our environment and how we monitored the development progress was done using an Agile(Scrum) approach.</span>
                   </p>

                   <h3><fa-icon class="title-icon" [icon]="faCaretRight"></fa-icon>IT Associate</h3>
                   <p>
                    I worked on an IT team at <span class="company-name">Elite IR</span>, where I was tasked with <span class="description-highlight">trouble-shooting various
                    computer hardware issues</span>, as well as, working with CRM's like <span class="description-highlight">Salesforce & SugarCRM</span>,
                    which were used as databases for the company's marketing department. This involved storing and managing
                    marketing outreach information on a system and keeping this information safe and secure.  
                   </p>
                <br>
                <div class="fade_rule"></div> <!-- Bottom Line-->
                <br>
            </mat-card-content>
        </mat-card>
        
    </div>

    <div class="skills-container" fxLayout="row wrap" fxLayoutGap="15px grid">
        
        <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="50%" *ngFor="let items of mySkills">
            
            <mat-card fxFlex.lt-lg="100%" fxFlex.gt-md="100%">
                <mat-card-title>{{items.title}}</mat-card-title>
                <mat-card-content *ngFor="let skills of items.skills">
                   <ul class="skills-list">
                       <li > 
                       {{skills}}  
                       </li>
                   </ul>
                </mat-card-content>             
            </mat-card>
        </div>
    </div>

</div>

































<!-- Delete Below -->



<!-- <div class="about-page"> -->
<!-- <h1>About Akeem</h1> -->

    <!-- <img [src]=myimage alt="profile-pic" class="profile-img"> -->
 

<!-- <div class="description"> -->
    <!-- <p>{{AboutData.description[0]}}</p>
    <p>{{AboutData.description[1]}}</p> -->
    <!-- <p>{{AboutData.description[3]}}</p> -->
<!-- </div> -->
<!-- <ul id="skills"> --> 
       
    <!-- Background for JS Icon -->
    <!-- <div id="background-icon-div">
         <p id="background-js"></p>   
    </div>

<div id="cards"> -->
     <!-- Frontend Card -->
    <!-- <div id="skills-card">
         
        <label id="skills-label">Frontend</label><br> -->
         <!-- <li *ngFor = "let items of AboutData.frontendSkills"><br>{{items}}<br></li> -->
         <!-- <h4>Frontend</h4> -->
         <!-- <div id="skills-rows">
         <fa-icon id="js-icon"  [icon]="faJsSquare"></fa-icon> 
         <label id="myskillslabel">Javascript</label>
         <br> -->
         
         <!-- <fa-icon id="js-icon"  [icon]="faJsSquare"></fa-icon>  -->
          <!-- <img id="ts-icon" src="assets/images/typescript.png" alt="">
         <label for="" id="myskills" >Typescript</label>
         <br>  -->


         <!-- <fa-icon id="css-icon" [icon]="faCss3Alt"></fa-icon>
         <label for="" id="myskillslabel">CSS3</label>
         <br>

         <fa-icon id="html-icon" [icon]="faHtml5"></fa-icon>
         <label for="" id="myskillslabel">HTML5</label>
         <br>

         <fa-icon id="angular-icon" [icon]="faAngular"></fa-icon>
         <label for="" id="myskillslabel">Angular (Typescript)</label>
         <br>

         </div>  -->
<!-- </ul> -->
      <!-- </div>     -->
      <!-- Backend Card -->
      <!-- <div id="skills-card">
        <label id="skills-label">Backend/Database</label><br> -->
         <!-- <li *ngFor = "let items of AboutData.frontendSkills"><br>{{items}}<br></li> -->
         <!-- <h4>Frontend</h4> -->
         <!-- <div id="skills-rows">
         <fa-icon id="node-icon" [icon]="faNodeJs"></fa-icon> 
         <label id="myskillslabel">Nodejs & Expressjs</label>
         <br>
        
         <fa-icon id="aws-icon" [icon]="faAws"></fa-icon>
         <label for="" id="myskillslabel">Amazon RDS</label>
         <br>

         <fa-icon id="database-icon" [icon]="faDatabase"></fa-icon>
         <label for="" id="myskillslabel">SQL (MySQL,MSSQL)</label>
         <br>

         <fa-icon id="cube-icon" [icon]="faCubes"></fa-icon>
         <label for="" id="myskillslabel">MVC</label>
         <br>

         <fa-icon id="java-icon"  [icon]="faJava"></fa-icon>
         <label for="" id="myskillslabel">Java</label>
         <br>

        </div> -->
<!-- </ul> -->
      <!-- </div>     -->

        <!-- Other Card -->
            <!-- <div id="skills-card">
                <label id="skills-label">Others</label><br>
                 <div id="skills-rows">
                 <fa-icon   id="git-icon" [icon]="faCodeBranch"></fa-icon>  -->
                 <!--<label id="myskillslabel">Git & Github</label>-->  <!--change to all labels to h4 or h5 tags-->
                 <!-- <br>
                 
                 <fa-icon   id="agile-icon" [icon]="faTasks"></fa-icon>
                 <label for="" id="myskillslabel">Agile(Scrum)</label>
                 <br>
        
                 <fa-icon  id="datastructure-icon"  [icon]="faDotCircle"></fa-icon>
                 <label for="" id="myskillslabel">Data Structures</label>
                 <br>
        
                  <fa-icon  id="restapi-icon" [icon]="faLink"></fa-icon>
                 <label for="" id="myskillslabel">REST API</label>
                 <br>
        
                 <fa-icon  id="cli-icon" [icon]="faTerminal"></fa-icon>
                 <label for="" id="myskillslabel">CLI</label>
                 <br> -->
        <!--
                 <fa-icon [icon]=""></fa-icon>
                 <label for="" id="myskills"></label>
                 <br>
        
                 <fa-icon [icon]=""></fa-icon>
                 <label for="" id="myskills"></label>
                 <br> 
        
                 <fa-icon [icon]=""></fa-icon>
                 <label for="" id="myskills">Git & Github</label>
                -->
                <!-- </div>  -->
        <!-- </ul> -->
              <!-- </div> -->
              
<!-- </div>

</div> -->


