
<div id="contact-card">
  <h5>About Akeem</h5>
  <div class="profile-image">
  <img [src]=myimage alt="profile-pic" class="profile-img">
  </div>

  <!-- <p class="card-desc">Akeem Lake</p> -->
  <!-- <p class="card-desc">Software Engineer | BcS. Computer Science</p> -->
  <p class="card-desc">Dedicated developer, Contributor, Traveler, University Graduate</p>
</div>

<div id="forms">
 <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form" autocomplete="off">
    <!-- <div id="forms"> -->
        <div class="form__div">
        <mat-form-field class="example-full-width">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="Ex. Firstname Lastname" value="" formControlName="fullname"> 
          </mat-form-field>
        </div>
        <br>

        <div class="form__div">
            <mat-form-field class="example-full-width">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Ex. user@mail.com" value="" formControlName="email"> 
              </mat-form-field>
            </div>
            <br>

            <div class="form__div">
                <!-- <mat-form-field appearance="fill">  I took the fill appearance off so it doesn't look grey-->
                <mat-form-field>
                    <mat-label>Message</mat-label>
                    <textarea matInput placeholder="max: 300 characters" formControlName="message"></textarea>
                  </mat-form-field>
                </div>


        <!-- <div class="form__div">
    <label for="fullname" class="form_label">full name</label>       
    <input type="text" name="fullname" class="form__input" placeholder="eg. First Last" formControlName="fullname">
      </div> -->
        
      <!-- <div class="form__div">
    <label for="email" class="form_label">email</label>      
    <input type="text" name="email" class="form__input" placeholder="eg. hello@mail.com" formControlName="email">
     </div> -->

    <!-- <div class="form__div">
    <label for="message" class="form_label">message</label>   
    <textarea type="text" name="message" class="form_input" rows="6" cols="50" formControlName="message"></textarea> -->
    <!-- <input type = "submit" value = "Send" onClick="window.location.reload();">  -->
    <!-- </div> -->
    
    <button class="submit-button" type="submit" onClick="window.location.reload();">
           Send <fa-icon [icon]="faPaperPlane"></fa-icon>
    </button>
    

    <!-- <fa-icon [icon]="faPaperPlane"><input type = "submit" value = "Send" onClick="window.location.reload();"></fa-icon> -->

    <!-- </div> -->
 </form> 
</div>

