<div id="forms"> 
    <form  [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form" autocomplete="off">
        <div class="form__div">
        <mat-form-field class="example-full-width" >
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="Ex. Firstname Lastname" value="" formControlName="fullname"> 
          </mat-form-field>
        </div>
        <br>

        <div class="form__div" >
            <mat-form-field class="example-full-width">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Ex. user@mail.com" value="" formControlName="email"> 
              </mat-form-field>
            </div>
            <br> 

            <div class="form__div" >
                <!-- DONT UNCOMMENT <mat-form-field appearance="fill">  I took the fill appearance off so it doesn't look grey-->
                <mat-form-field>
                    <mat-label>Message</mat-label>
                    <textarea matInput placeholder="max: 300 characters" formControlName="message"></textarea>
                  </mat-form-field>
                </div>
    
     <button class="submit-button" type="submit" onClick="window.location.reload();">
           Send <fa-icon [icon]="faPaperPlane"></fa-icon>
     </button>
    </form> 
   </div>




