

input{
    /* display: block; */
    margin: 5px; 
    border: 1px solid red;
}

label{
    font-weight: bold;
}

textarea{
    /* display: block; */
}

.submit-button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

 #forms{ 
    background-color: #f9f9f9;
    padding: 50px;
    border-radius: 5%; 
    font-size: 25px;
    /* height: 400px;  */
    position: relative; 
    left:600px; /*Position form to the left*/
    margin-top: 80px; /* moves forms div x value from the top, higher the value the further away it is from the top of page */
    right: 400px; /* Position form to the right*/
    width: 50%;
    bottom: 500px;
    /* top: 50%; */
    display: inline-block; /* not sure if this is being applied */
    border: 1px solid red;
    
} 

mat-form-field {
    width: 90%; /* Increse width of the input areas*/
    /* height: 150px; */
    border: 1px solid red;
  }

  
textarea{
    height: 150px;
    /* background-color: #fff; */
}

button{
    color: gray;
    font-size: 20px;
    border: 1px solid red;
}

button:hover{
    color:black;
    /* filter: drop-shadow(2px 2px 15px #000000); */
}

/* added below for the contact card */
#contact-card{
    width: 500px;
    height: 500px;
    /* background-color: green; */
    /* float: left; */
   position: relative;
   top: 80px; /* moves contact-card div x value from the top, higher the value the further away it is from the top of page */
   border: 1px solid red;
}

img.profile-img{
    
        width: auto;
        height: auto;  
        max-width: 96px;  
        max-height: 96px;
        clip-path: circle(40% at 50% 60%);
        float: left;
        position: relative; /* to allow to move profile pic */
        bottom: 25px; /* moves higher with higher value and down with lower value */
        border: 1px solid red;
}

#contact-card>h2{
    text-align: center;
    border: 1px solid red;
}

.card-desc{
   margin-left: 80px; /*gives space between profile pic and description */
   border: 1px solid red;
}


/*************************/