<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div id="forms">
    <label for="fullname">full name</label>
    <input type="text" name="fullname" placeholder="eg. First Last" formControlName="fullName">
    <label for="email">email</label>
    <input type="text" name="email" placeholder="eg. hello@mail.com" formControlName="email">
    <label for="message">message</label>
    <textarea type="text" name="message" rows="4" cols="50" formControlName="message"></textarea>
    <input type = "submit" value = "Send">

    <!--<fa-icon [icon]="faPaperPlane"><input type = "submit" value = "Send"></fa-icon>-->
    </div>
</form>

