
 *{
    box-sizing: border-box;
  } 


.submit-button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: gray; /* change this to a different color gray */
    font-size: 20px;
}

button:hover{
    color:black;
}

mat-form-field {
    width: 100%; /* Increse width of the input areas */
  }

  
textarea{
    height: 100px;
}


mat-card-title{
    font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}



img.profile-img{
        width: auto;
        height: auto;  
        max-width: 96px;  
        max-height: 96px;
        clip-path: circle(40% at 50% 60%);
        float: left;
        position: relative; /* to allow to move profile pic */
        bottom: 25px; /* moves higher with higher value and down with lower value */       
}


 #forms{ 
    padding: 25px;
    font-size: 25px;
    min-width: 40%;
    margin-right: 15px;
} 

#form-module{
    justify-content: center;
}


.contactpage{
    margin-top: 5%;
    margin-left: 1%;
}

