h3{
    text-align: center;
}

.portfolio-container { 
    padding: 16px; 
  }
  
  .portfolio-container > mat-card { 
    width: 200px; 
  }

  .portfolio-container > mat-card > mat-card-title { 
    font-size: 16px;
  }

  mat-card-content{
    margin-top: 15px;
  }

  .details-title{
    font-weight: bold;
  }

    
img:hover{
  opacity: 0.6;
  transition: all 0.3s ease-in; 
}

