mat-sidenav-container {
    /* height: 100%; */
    /* min-height: 93vh !important; */
    /* background-color: lightskyblue !important; */
    width: 100%;
    min-width: 100%;
 }

 mat-sidenav-content{
  overflow:hidden;
 }

 .example-spacer {
    flex: 1 1 auto;
  }


  .links-spacer{
      flex: 1 1 100%; 
  }
  /* flex-grow 1 flex shrink 1 ? look into this to see if you have to include these
  values if you specify a value instead of using auto */

  
  a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .links{
    /* font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: lightcoral; */
    font-size: 13px; /* header nav links font size */

  }

  .links a{
    padding: 15px;
    /* margin: 10px; */
  }

  a, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
  }

  /* a:hover{
    color: #287494;
  } */

  .num{
    color: #1C9AD0;
    }

