.mytitle{
    position: static;
    /*margin: auto;*/
    text-align: center;
    
    
}

 .titlebackground{
    padding-top: 60px ;
    padding-left: 100px ;
    padding-right: 100px ;
    padding-bottom: 60px;   
    /* background-color: #A5CAB7;   */
}

.mytitle h1{
    font-size: 50px; 
    /*padding-bottom: 0px;*/ /*if you want to give top text some room at bottom*/
    line-height: 0px;
    white-space: nowrap;
}

.mytitle p{
   /*padding-top: 0px;*/ /*if you want to give bottom text some room*/
    font-size: 20px;
    line-height: 0px;
    white-space: nowrap;
}

 .profile-info{
    line-height: 0px;
    position: relative;
    top: -40px;
    /* right: -10px; */
} 

img{ 
    width: auto;
    height: auto; 
     max-width: 400px;  
     max-height: 400px;
     clip-path: circle(40% at 50% 60%);  /* This makes the profile image a circle   
                                         use parameters to go width at left(less than 50)-right 
                                        (more than 50) up(less than 50)-down(more than 50) */

    position: relative; /*Declared position allows for location changes*/
    top: -30px; /*Moves the image 30px closer to the top of the page*/
    
}  

#name{
    font-size: 55px;
}



/* Starting new from here */

mat-card{
    text-align: center;
    /* box-shadow: none !important; */
}

mat-card-title{
    font-size: 70px; 
    white-space: nowrap;
    font-family: Goudy Old Style,Garamond,Big Caslon,Times New Roman,serif; 
}

