<div class="wrapper">
  <div class="button">
    <div class="icon"><a href="https://github.com/aalake" rel="noopener noreferrer" target="_blank"><fa-icon [icon]="faGithubSquare" atl="github" title="github"></fa-icon></a></div>
    <span><a href="https://github.com/aalake" rel="noopener noreferrer" target="_blank"><!--GitHub--></a></span>
  </div>
  <div class="button">
    <div class="icon"><a href="https://www.linkedin.com/in/akeemlake" rel="noopener noreferrer" target="_blank"><fa-icon [icon]="faLinkedin" alt="linkedin" title="linkedin"></fa-icon></a></div>
    <span><a href="https://www.linkedin.com/in/akeemlake" rel="noopener noreferrer" target="_blank"><!--Linkedin--></a></span>
 </div>
</div>