<div class="wrapper">
  <div class="button">
    <div class="icon"><a href="https://github.com/aalake" rel="noopener noreferrer" target="_blank"><fa-icon [icon]="faGithub" atl="github" title="github"></fa-icon></a></div>
    <span><a href="https://github.com/aalake" rel="noopener noreferrer" target="_blank"><!--GitHub--></a></span>
  </div>
  <div class="button">
    <div class="icon"><a href="https://www.linkedin.com/in/akeemlake" rel="noopener noreferrer" target="_blank"><fa-icon [icon]="faLinkedin" alt="linkedin" title="linkedin"></fa-icon></a></div>
    <span><a href="https://www.linkedin.com/in/akeemlake" rel="noopener noreferrer" target="_blank"><!--Linkedin--></a></span>
 </div>
 <div class="button">
    <div class="icon"><a href="mailto:akeemlake@outlook.com" rel="noopener noreferrer" target="_blank"><fa-icon [icon]="faEnvelope" atl="Email" title="Email"></fa-icon></a></div>
    <span><a href="mailto:akeemlake@outlook.com" rel="noopener noreferrer" target="_blank"><!--Email--></a></span>
 </div>
 <div class="button">
    <div class="icon"><a href="https://drive.google.com/file/d/1W8Shm7PUSx1W7sX5kdAVFcHT2nK_zDwE/view?usp=sharing" rel="noopener noreferrer" target="_blank"><fa-icon [icon]="faFileAlt" alt="Resume" title="Resume"></fa-icon></a></div>
    <span><a href="https://drive.google.com/file/d/1W8Shm7PUSx1W7sX5kdAVFcHT2nK_zDwE/view?usp=sharing" rel="noopener noreferrer" target="_blank"><!--Resume--></a></span>
 </div>
</div>